In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_pickle('Mailbox removal by political affiliation.p')
step = .5/8


x = np.arange(0, 1.0+step, step)
to_plot = df.groupby(
        pd.cut(df["r/(rd)"], x)
    ).agg({'net':['count','sum'],'total_boxes':'sum'}).reset_index().fillna({'Percent Change':0})

to_plot.columns = ['r/(rd)','n_counties','net','total_boxes']
to_plot['Percent change'] = to_plot['net']/to_plot['total_boxes']
to_plot['bin'] = to_plot['r/(rd)'].apply(lambda x:x.left)
to_plot['color'] = np.where(
    to_plot['bin']<.5,
    'blue','red'
)

to_plot

,r/(rd),n_counties,net,total_boxes,Percent change,bin,color
0,"(0.0, 0.0625]",0,0,0,NaN,0.0000,blue
1,"(0.0625, 0.125]",5,-67,4977,-0.013462,0.0625,blue
2,"(0.125, 0.188]",12,-75,6566,-0.011422,0.1250,blue
3,"(0.188, 0.25]",16,-311,16633,-0.018698,0.1880,blue
4,"(0.25, 0.312]",24,-98,8711,-0.011250,0.2500,blue
5,"(0.312, 0.375]",35,-157,11513,-0.013637,0.3120,blue
6,"(0.375, 0.438]",57,-301,21582,-0.013947,0.3750,blue
7,"(0.438, 0.5]",76,-253,18923,-0.013370,0.4380,blue
8,"(0.5, 0.562]",69,-129,12400,-0.010403,0.5000,red
9,"(0.562, 0.625]",64,-90,7244,-0.012424,0.5620,red
10,"(0.625, 0.688]",90,-73,6708,-0.010883,0.6250,red
11,"(0.688, 0.75]",79,-68,4292,-0.015843,0.6880,red
12,"(0.75, 0.812]",54,-36,2386,-0.015088,0.7500,red
13,"(0.812, 0.875]",23,-27,622,-0.043408,0.8120,red
14,"(0.875, 0.938]",5,-7,113,-0.061947,0.8750,red
15,"(0.938, 1.0]",0,0,0,NaN,0.9380,red

In [3]:
df = pd.read_pickle('Mailbox removal by political affiliation.p')
step = .5


x = np.arange(0, 1.0+step, step)
to_plot = df.groupby(
        pd.cut(df["r/(rd)"], x)
    ).agg({'net':['count','sum'],'total_boxes':'sum'}).reset_index().fillna({'Percent Change':0})

to_plot.columns = ['r/(rd)','n_counties','net','total_boxes']
to_plot['Percent change'] = to_plot['net']/to_plot['total_boxes']
to_plot['bin'] = to_plot['r/(rd)'].apply(lambda x:x.left)
to_plot['color'] = np.where(
    to_plot['bin']<.5,
    'blue','red'
)

to_plot

       r/(rd)  n_counties   net  total_boxes  Percent change  bin color
0  (0.0, 0.5]         225 -1262        88905       -0.014195  0.0  blue
1  (0.5, 1.0]         384  -430        33765       -0.012735  0.5   red

In [4]:
to_plot['net']/to_plot['net'].sum()

0    0.745863
1    0.254137
Name: net, dtype: float64

In [5]:
to_plot['net']/to_plot['net'].sum()

0    0.745863
1    0.254137
Name: net, dtype: float64